* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans', sans-serif;
    line-height: 1.65;
    letter-spacing: .004em;

}

li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

button {
    color: white;
    background-color: #444444;
    width: 29%;
    height: 50px;
    border: none;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;

}

button:hover {
    background-color: #524b4b;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* nav bar  */

nav {

    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
    transition: ease-out 0.3s;
}

nav .logo {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.6em;

}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

}

nav a {
    margin-left: 5%;
    /* color: #bfbfbf; */
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0;

}



nav a:hover {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: ease-out 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 3%;
    z-index: 2;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    transition: ease-in 0.3s;
}

@media screen and (max-width: 850px) {
    nav {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);

    }
    nav a {
        font-weight: 600;
    }

    .logo {
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
    }

    nav ul {
        justify-content: center;
    }
    .sticky {
        z-index: -1;

    }   
}

/* main */

main {

    width: 100%;
    min-height: 100vh;
    background-image: url('./neven-krcmarek-V4EOZj7g1gw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 5%;
    z-index: -1;
}

main img {
    width: 100%;
}

.showcase {
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    /* font-size: 40px; */
    text-align: center;
    transform: translate(-50%);

}

.showcase h1 {
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: none;
}

.showcase h3 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 200;
    font-size: 2.4rem;
    text-transform: none;
}

.showcase h5 {
    font-size: 1.4rem;
    text-transform: none;
}

@media screen and (max-width: 850px) {
    main {
        min-height: 70vh;
    }

    .showcase {
        position: relative;
        padding-top: 20px;
    }

}


/* about section  */
.about {
    padding: 7% 20%;
    text-align: center;



}

.about h2 {
    font-size: 2.5em;
    text-transform: uppercase;

}

.about p {
    color: #8d8a8a;
}

/* summary  */
.summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background: #000000;
    padding: 7% 8%;
    font-size: 1rem;

}

.summary .box {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

@media screen and (max-width: 850px) {
    .summary {

        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;

    }

    .summary h1 {
        font-size: .8rem;
    }
}

/* Services */

.services {
    padding: 7% 8%;

}

.services .intro {
    text-align: center;
    margin: 30px 20%;


}

.intro h1 {
    font-size: 2.4em;
    font-weight: 900;
    padding-bottom: 10px;
}

.intro p {
    color: #8d8a8a;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.services-grid img {
    width: 100%;
    height: 100%;
    display: block;
}

.services-grid .box {
    position: relative;
}

.services-grid .box .text {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #000000;
    opacity: 0;
    text-align: center;
    padding: 40% 0;
    transition: opacity 500ms ease-in-out;
    text-transform: uppercase;
}

.services-grid .box .text:hover {
    opacity: 0.7;
}

@media screen and (max-width: 850px) {
    .services {
        padding: 0;

    }

    .services .intro {

        margin: 30px;

    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .services-grid .box .text {
        opacity: 0.7;
        padding: 10%;

    }
}

/* contact section */
.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 7% 8%;
    grid-column-gap: 20px;
    background-color: #F6F6F6;
}

.contact p {
    padding-top: 15px;

    color: #838080;
}

.contact-header {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 5px;
}

.contact a {
    color: #838080;
}

input {
    border: none;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    border: none;
    padding: 15px;
}


@media screen and (max-width: 850px) {
    .contact {

        grid-template-columns: 1fr;
        padding: 7% 8%;
        grid-row-gap: 20px;

    }

    button {
        width: 100%;

    }
}

/* footer */
footer {
    background-color: black;
    color: #ffffff;
    padding: 25px;

}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 20px;
}

#reviews {
    background: #000000;
    color: #F6F6F6;
    line-height: 2;
    padding: 7% 8%;
    font-size: 1.3rem;
    text-align: center;

}

#reviews .card {

    align-items: center;
    width: 50%;

}

#reviews h5 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}